@import "../Globals.scss";

.aboutus-container {
  background: $color-secondary-lightgray;
}

.about-us {
  margin: -300px 10% 0;
  padding: 80px 0;
  max-width: $max-width;
}

.about-us__title {
  margin: 0;
  max-width: 650px;
  font-weight: 200;
  & h2 {
    font-size: 36px;
  }
  & p {
    color: $color-secondary-gray;
    line-height: 25px;
    font-size: 18px;
  }
}

.about-us__badges {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.badge {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  & h3 {
    font-size: 24px;
  }
  & p {
    margin-top: 5px;
    color: $color-secondary-gray;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 450px) {
  .hero__image {
    margin-top: -150px;
  }
  .hero__info h1 {
    font-size: 40px;
  }
}
