@import "../Globals.scss";

.footer-container {
  background-color: #2d314e;
}

.footer {
  margin: 0 10% 0;
  padding: 40px 0;
  height: auto;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .brand__socials {
    display: flex;
    justify-content: space-between;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  & a:hover {
    text-decoration: underline;
  }
}

.footer__button {
  grid-column-start: 5;
  text-align: right;
  color: $color-secondary-lightgray;
  font-size: 14px;
  font-weight: 200;
}

.attribution {
  padding: 10px 0;
  color: white;
  margin: 0;
  text-align: center;
  & p {
    margin: 0;
  }
  & a {
    color: rgb(126, 203, 255);
  }
}