@import "../Globals.scss";

.hero {
  position: relative;
  display: flex;
  max-width: $max-width;
  margin: 0 0 0 10%;
  overflow: hidden;
  justify-content: space-between;
}

.hero__info {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & h1 {
    margin: 10px 0;
    font-size: 50px;
  }
  & p {
    margin: 10px 0 30px;
    color: $color-secondary-gray;
    line-height: 25px;
    font-size: 18px;
  }
}

.hero__image {
  background: url("../../static/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 -280px;
  & img {
    max-width: 700px;
    object-position: 140px -150px;
  }
}

.hero__mockup {
  width: 100%;
}
